{% extends 'base.html' %}

{% block content %}
<section class="bg-info text-light text-center shadow">
    <div class="container p-5 bg-info">
        <div class="row">
            <div id="title_bg" class="d-md-flex bg-info align-items-center justify-content-evenly">
                <h1 class="col text-center"><br>Your Car Collection</h1>
            </div>
        </div>
    </div>
</section>
<section class="bg-light text-center">
    <div class="container p-5">
        <div class="row">
            <div class="d-flex align-items-center justify-content-center">
                <img src="../static/Images/undraw_electric_car_b-7-hl.png" class="img-fluid p-5" alt="electric car">
            </div>
        </div>
    </div>
</section>
{% endblock %}
